h1 {
  color: white;
}

p {
  color: white;
  text-align: center;
}

.container {
  margin-left: 100px;
}
.mylistrow {
  display: inline-block;
  margin-bottom: 10px;
}

.recorow {
  display: inline-block;
}

.img {
  margin-left: 10px;
}

.img:hover {
  display: inline-block;
  transform: translateY(-5px);
  transition: 0.3s ease;
}

.title {
  margin-left: 10px;
  font-size: 20px;
}

.button {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: red;
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 2px;
  margin-left: 45px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.mylistrow:hover button {
  opacity: 1;
  cursor: pointer;
}

.recorow:hover button {
  opacity: 1;
  cursor: pointer;
}
